body {
  background: url(../img/ui/bg-body.jpg) center 0 repeat-x #fff; }

a {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
a:hover {
  text-decoration: none; }

.text-fb {
  color: #3a589a; }

@media (max-width: 991.98px) {
  .navbar-brand img {
    max-width: 150px; } }

#header {
  border-bottom: 1px solid #85af4b; }
#header .container {
  background: url(../img/ui/bg-header.png) 85% 100% no-repeat; }
@media (max-width: 991.98px) {
  #header .container {
    background: none; } }
#header .nav-link {
  color: #6c757d; }
#header .nav-link:hover {
  color: #000; }

#footer {
  background: #a5dbcd; }

.comment {
  overflow: auto;
  max-height: 250px; }
@media (max-width: 991.98px) {
  .comment {
    max-height: none; } }

.close {
  position: absolute;
  right: 1rem;
  z-index: 10; }

.font-small {
  font-size: 0.8rem; }

[class^="text-row-"], [class*="text-row-"] {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.text-row-1 {
  -webkit-line-clamp: 1; }

.text-row-2 {
  -webkit-line-clamp: 2; }

.text-row-3 {
  -webkit-line-clamp: 3; }

.text-youtube {
  color: #f00; }

.text-gray-6 {
  color: #6c757d; }

.text-gray-8 {
  color: #343a40; }

.text-black {
  color: #000; }

.nav-info .nav-item {
  border-left: 1px solid #ced4da; }
.nav-info .nav-item .nav-link {
  padding: 0 2rem;
  line-height: 1; }
.nav-info .nav-item:first-child, .nav-info .nav-item:only-child {
  border-left: 0; }
.nav-info .nav-item:first-child .nav-link, .nav-info .nav-item:only-child .nav-link {
  padding-left: 0; }
@media (max-width: 991.98px) {
  .nav-info .nav-item {
    width: 100%;
    border-left: 0; }
  .nav-info .nav-item .nav-link {
    padding-left: 0;
    border-left: 0; } }

.nav-modal {
  position: absolute;
  top: 50%;
  margin-top: -1rem;
  width: 100%; }
.nav-modal .btn-left, .nav-modal .btn-right {
  position: absolute;
  display: block;
  color: #fff;
  opacity: .8; }
.nav-modal .btn-left:hover, .nav-modal .btn-right:hover {
  opacity: 1; }
.nav-modal .btn-left {
  left: 1.5rem !important; }
.nav-modal .btn-right {
  right: 1.5rem !important; }
@media (max-width: 991.98px) {
  .nav-modal {
    display: none; } }

.btn-fb {
  color: #fff;
  background-color: #3a589a; }
.btn-fb:hover {
  background-color: #2f4779 !important;
  color: #fff; }

.btn-line {
  color: #fff;
  background-color: #00b900; }
.btn-line:hover {
  background-color: #008600 !important;
  color: #fff; }

.btn-info .flex-column {
  opacity: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 0.5); }
.btn-info:hover .flex-column, .btn-info:active .flex-column {
  opacity: 1; }

.bg-cyan {
  background-color: #17a2b8; }

.border-gray {
  border-color: #adb5bd; }

.bs {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.bs-strong {
  -moz-box-shadow: 18px 18px 5px rgba(9, 28, 47, 0.3);
  -webkit-box-shadow: 18px 18px 5px rgba(9, 28, 47, 0.3);
  box-shadow: 18px 18px 5px rgba(9, 28, 47, 0.3); }

.v-middle {
  display: table-cell;
  height: 100%;
  vertical-align: middle !important; }

.pos-a-b {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10; }

.pos-a-c {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 10;
  transform: translateY(-50%); }

.pos-a-r {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  transform: translateY(-50%); }

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto; }
@media (max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px); } }

.badge-primary, .badge-succes {
  color: #fff; }
