body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u618 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u619 {
  position:absolute;
  left:793px;
  top:724px;
  width:317px;
  height:44px;
}
#u620 {
  position:absolute;
  left:2px;
  top:14px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u621 {
  position:absolute;
  left:793px;
  top:724px;
  width:317px;
  height:96px;
}
#u622 {
  position:absolute;
  left:2px;
  top:40px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u623 {
  position:absolute;
  left:803px;
  top:737px;
  width:37px;
  height:19px;
  font-size:16px;
}
#u624 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u625 {
  position:absolute;
  left:1067px;
  top:738px;
  width:28px;
  height:16px;
  font-size:13px;
  text-align:right;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u627 {
  position:absolute;
  left:802px;
  top:778px;
  width:300px;
  height:32px;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u629 {
  position:absolute;
  left:0px;
  top:664px;
  width:1110px;
  height:42px;
}
#u630 {
  position:absolute;
  left:2px;
  top:13px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:594px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u632 {
  position:absolute;
  left:0px;
  top:70px;
  width:1110px;
  height:594px;
}
#u633 {
  position:absolute;
  left:2px;
  top:289px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u634 {
  position:absolute;
  left:235px;
  top:96px;
  width:641px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u635 {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  white-space:nowrap;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u637 {
  position:absolute;
  left:516px;
  top:146px;
  width:17px;
  height:14px;
}
#u638 {
  position:absolute;
  left:2px;
  top:-1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u639 {
  position:absolute;
  left:538px;
  top:145px;
  width:57px;
  height:16px;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:401px;
}
#u641 {
  position:absolute;
  left:0px;
  top:179px;
  width:770px;
  height:400px;
}
#u642 {
  position:absolute;
  left:2px;
  top:192px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u643 {
  position:absolute;
  left:793px;
  top:236px;
  width:302px;
  height:13px;
}
#u644 {
  position:absolute;
  left:2px;
  top:-2px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:13px;
}
#u645 {
  position:absolute;
  left:793px;
  top:236px;
  width:151px;
  height:13px;
}
#u646 {
  position:absolute;
  left:2px;
  top:-2px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:47px;
}
#u647 {
  position:absolute;
  left:793px;
  top:179px;
  width:167px;
  height:47px;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:113px;
}
#u649 {
  position:absolute;
  left:793px;
  top:278px;
  width:246px;
  height:113px;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u651 {
  position:absolute;
  left:0px;
  top:589px;
  width:770px;
  height:75px;
  font-size:16px;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u653 {
  position:absolute;
  left:793px;
  top:429px;
  width:302px;
  height:40px;
  font-size:16px;
}
#u654 {
  position:absolute;
  left:2px;
  top:10px;
  width:298px;
  word-wrap:break-word;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u655 {
  position:absolute;
  left:793px;
  top:479px;
  width:145px;
  height:40px;
}
#u656 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  position:absolute;
  left:948px;
  top:479px;
  width:147px;
  height:40px;
}
#u658 {
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u659 {
  position:absolute;
  left:793px;
  top:576px;
  width:302px;
  height:1px;
}
#u660 {
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u662 {
  position:absolute;
  left:793px;
  top:589px;
  width:302px;
  height:46px;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u664 {
  position:absolute;
  left:1055px;
  top:589px;
  width:40px;
  height:40px;
}
#u665 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:70px;
}
#u668 {
  position:absolute;
  left:2px;
  top:27px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u670 {
  position:absolute;
  left:913px;
  top:13px;
  width:100px;
  height:45px;
  font-size:16px;
}
#u671 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u672 {
  position:absolute;
  left:1023px;
  top:13px;
  width:70px;
  height:45px;
  font-size:16px;
}
#u673 {
  position:absolute;
  left:2px;
  top:13px;
  width:66px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u674 {
  position:absolute;
  left:924px;
  top:23px;
  width:25px;
  height:25px;
}
#u675 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u676 {
  position:absolute;
  left:17px;
  top:17px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u680 {
  position:absolute;
  left:0px;
  top:1273px;
  width:1110px;
  height:82px;
  text-align:left;
}
#u681 {
  position:absolute;
  left:2px;
  top:17px;
  width:1106px;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:56px;
}
#u682 {
  position:absolute;
  left:1012px;
  top:1287px;
  width:83px;
  height:56px;
}
#u683 {
  position:absolute;
  left:2px;
  top:20px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u685 {
  position:absolute;
  left:1055px;
  top:1287px;
  width:40px;
  height:40px;
}
#u686 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u687 {
  position:absolute;
  left:1063px;
  top:1299px;
  width:25px;
  height:16px;
}
#u688 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u689 {
  position:absolute;
  left:12px;
  top:674px;
  width:1098px;
  height:23px;
  text-align:left;
}
#u690 {
  position:absolute;
  left:2px;
  top:2px;
  width:1094px;
  word-wrap:break-word;
}
#u691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u692 {
  position:absolute;
  left:793px;
  top:841px;
  width:317px;
  height:44px;
}
#u693 {
  position:absolute;
  left:2px;
  top:14px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:239px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694 {
  position:absolute;
  left:793px;
  top:841px;
  width:317px;
  height:239px;
}
#u695 {
  position:absolute;
  left:2px;
  top:112px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u696 {
  position:absolute;
  left:803px;
  top:854px;
  width:37px;
  height:19px;
  font-size:16px;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u698 {
  position:absolute;
  left:1067px;
  top:855px;
  width:28px;
  height:16px;
  font-size:13px;
  text-align:right;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u700 {
  position:absolute;
  left:802px;
  top:895px;
  width:300px;
  height:32px;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:113px;
}
#u702 {
  position:absolute;
  left:803px;
  top:937px;
  width:299px;
  height:113px;
}
#u703 {
  position:absolute;
  left:2px;
  top:48px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u704 {
  position:absolute;
  left:803px;
  top:1056px;
  width:300px;
  height:16px;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u706 {
  position:absolute;
  left:12px;
  top:726px;
  width:40px;
  height:40px;
}
#u707 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  position:absolute;
  left:62px;
  top:726px;
  width:708px;
  height:113px;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u710 {
  position:absolute;
  left:62px;
  top:839px;
  width:40px;
  height:40px;
}
#u711 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u712 {
  position:absolute;
  left:112px;
  top:839px;
  width:658px;
  height:91px;
}
#u712_input {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:91px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  position:absolute;
  left:695px;
  top:940px;
  width:75px;
  height:40px;
}
#u714 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u715 {
  position:absolute;
  left:12px;
  top:1008px;
  width:40px;
  height:40px;
}
#u716 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  position:absolute;
  left:62px;
  top:1008px;
  width:708px;
  height:113px;
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u719 {
  position:absolute;
  left:12px;
  top:1137px;
  width:40px;
  height:40px;
}
#u720 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  position:absolute;
  left:62px;
  top:1137px;
  width:708px;
  height:113px;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
